.row{
    padding-bottom: 50px;
}

#worldname {
    font-size: 6rem;
    color: rgba(50,50,50,0.5);
    /* padding-top:25px; */
}

/* #world_table_length{
    color: rgba(50,50,50,0.5);
} */

#header{
    font-size : 1.5rem;
}

#total_cases{
    color: rgba(0,0,200,0.5);
}

#total_deaths{
    color: rgba(200,0,0,0.5);
}

#total_recovered{
    color: rgba(0,200,0,0.5);
}

#total_cases, #total_deaths, #total_recovered{
    padding-top: 25px;
    font-size: 3rem;
    font-family: monospace;
    font-weight: bold;
}

tbody>tr>:nth-child(1){
    background-color: rgba(0,200,0,0.1);
    /* font-family: monospace; */
    font-weight: bold;
}

#total{
    background-color: rgba(0,200,0,0.3);
    color: rgba(200,0,0,0.7);
    font-family: 'Comic Sans MS';
}

#world_table_wrapper{
    padding-top:25px;
    padding-bottom:25px;
}

#world_table_length, #world_table_filter{
    color: rgba(200,0,0,0.7);
}

input, select{
    background-color: rgba(0,200,0,0.3);
}

#relevant_videos{
    font-family: 'Comic Sans MS';
}

#relevant_videos_title{
    font-family: Georgia;
    padding-top: 25px;
    padding-bottom:25px;
}
